.NavBar {
    background-color: #ffffff;
    border: 2px dotted #ec27a1;
    border-bottom: 2px dotted #ec27a1;
  }
  
 body {
    padding-top: 70px;
    color: rgb(73, 26, 70);
  }
  
  .NavLink {
    padding: 5px;
    text-decoration: none;
    color: rgba(44, 2, 2, 0.5);
  }
  
  .Active i {
    color: #b22134;
  }
  
  .activeAvatar {
    position: relative;
  }
  
  .activeAvatar::before {
    content: '';
    position: absolute;
    top: 0.5;
    left: 0.1;
    width: 75%;
    height: 75%;
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 50%;
  }
  
  .DoubleDottedLine {
    border-bottom: 2px dotted #5e1212;
  }
  
  .Logo {
    height: 45px;
  }
  .ProfileLink {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .ProfileLink:hover {
    color: red;
  }

  .AvatarLink {
    display: flex;
    align-items: center;
  }
  
  .AvatarImage {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
  }
  