.Post {
  background-color: #ffffff;
  border: 2px dotted #ec7627;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.Owner{
  text-decoration: none;
}

.farfa {
  margin-right: 30px;
  margin-left: 2px;
}

.Heart {
  color: #f85032;
}

.Heart:hover {
  color: #ad21b2;
}

.HeartOutline:hover {
  color: #f85032;
}

.Owner {
  text-align: left;
}