.Profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .Profile .Info {
    display: flex;
    align-items: center;
  }
  
  .Profile .Info .OwnerLink {
    margin-right: 10px;
  }
  
  .Profile .Info .Buttons {
    margin-left: auto;
  }
  